<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.PhotoMapper">

    <resultMap id="photoResultMap" type="com.example.domain.PhotoInfo">
        <id property="id" column="id"/>
        <result property="filename" column="filename"/>
        <result property="filePath" column="file_path"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="originalUrl" column="original_url"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="altitude" column="altitude"/>
        <result property="shootTime" column="shoot_time"/>
        <result property="location" column="location"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
    </resultMap>

    <insert id="batchInsertIgnore">
        INSERT IGNORE INTO photo (filename, file_path, thumbnail_url, original_url,
            lat, lng, altitude, shoot_time, location, width, height)
        VALUES
        <foreach collection="list" item="p" separator=",">
            (#{p.filename}, #{p.filePath}, #{p.thumbnailUrl}, #{p.originalUrl},
             #{p.lat}, #{p.lng}, #{p.altitude}, #{p.shootTime}, #{p.location}, #{p.width}, #{p.height})
        </foreach>
    </insert>
    
	<select id="findGroupByDay" resultType="map">
	    SELECT
	        DATEDIFF(DATE(shoot_time), '1970-01-01') AS dayid,
	        COUNT(*) AS count,
	        JSON_ARRAYAGG(
	            JSON_OBJECT(
	                'fileid', id,
	                'dayid', DATEDIFF(DATE(shoot_time), '1970-01-01'),
	                'w', width,
	                'h', height,
	                'isfavorite', 0
	            )
	        ) AS detail
	    FROM photo
	    WHERE shoot_time IS NOT NULL
	    GROUP BY DATE(shoot_time), DATEDIFF(DATE(shoot_time), '1970-01-01')
	    ORDER BY DATE(shoot_time) DESC
	</select>

	
	<select id="findTimelineDay" resultType="map">
	    SELECT
	        id AS fileid,
	        filename AS name,
	        original_url AS url,
	        thumbnail_url AS thumbnail_url,
	        width AS w,
	        height AS h,
	        0 AS isvideo,
	        0 AS isfavorite,
	        0 AS isfolder,
	        DATEDIFF(DATE(shoot_time), '1970-01-01') AS datetaken
	    FROM photo
	    WHERE shoot_time IS NOT NULL
	    AND DATEDIFF(DATE(shoot_time), '1970-01-01') = #{dayid}
	    ORDER BY shoot_time ASC
	</select>
</mapper>