/DesignPatterns/**/*.class

/ChordsGraph/node_modules

/**/node_modules

/MVVM/**/bin
/MVVM/**/obj
/MVVM/**/*.config
/MVVM/SimpleTrader.Domain/.vs

/VueBasic/blog/src/firebase

/**/.metadata

/CSS

/ThreeJS/**/models

/ThreeJS/three.js-r147.zip
/ThreeJS/three.js-r147/

/OpenGL/downloads
/OpenGL/**/Debug
/OpenGL/**/.vs
/OpenGL/**/resources
/OpenGL/**/x64