/DesignPatterns/**/*.class

/ChordsGraph/node_modules

/**/node_modules

/MVVM/**/bin
/MVVM/**/obj
/MVVM/**/*.config
/MVVM/SimpleTrader.Domain/.vs

/VueBasic/blog/src/firebase

/**/.metadata

/CSS

/ThreeJS/**/models

/ThreeJS/three.js-r147.zip
/ThreeJS/three.js-r147/

/OpenGL/downloads

/OpenGL/**/.vs
/OpenGL/**/resources
# 忽略目录里的所有内容
/OpenGL/**/Debug/**
/OpenGL/**/x64/**
# 保留目录本身
!/OpenGL/**/Debug/
!/OpenGL/**/Debug/**/
!/OpenGL/**/x64/
!/OpenGL/**/x64/**/
# 保留目录里的 .fs .vs文件
!/OpenGL/**/Debug/*.fs
!/OpenGL/**/Debug/*.vs
!/OpenGL/**/x64/*.fs
!/OpenGL/**/x64/*.vs

/OpenGL/libraries/**
/OpenGL/vs/Demo/x64/*

