<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysArtistsMapper">
    
    <resultMap type="SysArtists" id="SysArtistsResult">
        <id property="artist_id"    column="artist_id"    />
        <result property="artist_name"    column="artist_name"    />
        <result property="artist_avatar"    column="artist_avatar"    />
    </resultMap>

    <sql id="selectSysArtistsVo">
        select artist_id, artist_name, artist_avatar from sys_artist
    </sql>

    <select id="selectSysArtistsList" parameterType="SysArtists" resultMap="SysArtistsResult">
        <include refid="selectSysArtistsVo"/>

    </select>
    
    <select id="selectSysArtistsById" parameterType="Long" resultMap="SysArtistsResult">
        <include refid="selectSysArtistsVo"/>
        where artist_id = #{id}
    </select>
    
    <select id="selectSysArtistsByName" parameterType="String" resultMap="SysArtistsResult">
        <include refid="selectSysArtistsVo"/>
        where artist_name = #{name}
    </select>
 
    <insert id="insertSysArtists" parameterType="SysArtists" useGeneratedKeys="true">
        insert into sys_artist
         <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="artist_name != null and artist_name != ''">artist_name,</if>
            <if test="artist_avatar != null and artist_avatar != ''">artist_avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="artist_name != null and artist_name != ''">#{artist_name},</if>
            <if test="artist_avatar != null">#{artist_avatar},</if>
         </trim>
    </insert>

    <update id="updateSysArtists" parameterType="SysArtists">
        update sys_artist
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createDate != null">createDate = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysArtistsById" parameterType="Long">
        delete from sys_artist where id = #{id}
    </delete>

    <delete id="deleteSysArtistsByIds" parameterType="String">
        delete from sys_artist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSysArtists">
        set FOREIGN_KEY_CHECKS=0;
        truncate sys_artist;
        set FOREIGN_KEY_CHECKS=1;
    </delete>
</mapper>